{% extends 'rango/base.html' %}    
{% load staticfiles %} 

{% block title_block %}
            About
{% endblock %}

{% block body_block %}
            <h1>This tutorial has been put together by Scott</h1>
                <div>
                    hey there partner! <br />
                    <strong>{{boldmessage}}</strong><br />
                </div>
                <div>
                    <a href="{% url 'about' %}">About</a><br />
                    <img src="{% static "images/rango.jpg" %}"
                         alt="Picture of Rango" />
                </div>
                <button class="btn btn-primary" id="about-btn">
                Click Me = I run JavaScript on speed
                </button>
                <p> This is an example </p>
                <p> This is another example </p>
                <div id="msg"> Hello I'm here for a jquery example </div>
{% endblock %}
