<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/rango.jpg'  %}">

    <title>Rango - {% block title %} How to Rango with Django! {% endblock %} </title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
  </head>

  <body>

    <!-- NAVBAR CODE -->
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">Rango</a>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          
          {% if user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'add_category' %}">Add a New Category</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'auth_logout' %}?next=/rango/">Logout</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' user.username %}">Profile </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'list_profiles' %}">List Profiles</a>
            </li>

        {% else %}
           <li class="nav-item">
              <a class="nav-link" href="{% url 'registration_register' %}">Register Here</a>
          </li>
           <li class="nav-item">
              <a class="nav-link" href="{% url 'auth_login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
    </div>
    </nav>

    <!-- SIDEBAR CODE -->
    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-list flex-column">
                <li class="nav-tem">Type to find a category</li>
                <form action="/rango/suggest/" method="GET">
                    <li class="nav-item">
                        <input class="search-query form-control" type="text" name="suggestion" value="" id="suggestion" /> 
                    </li>
                </form>
            </ul>
            <hr>
            <div id="cats">
            </div>
        </nav>

    <!-- MAIN CODE -->
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            {% block body_block %}{% endblock %}
        </main>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{% static 'js/rango-ajax.js' %}"></script>
  </body>
</html>
