{% extends 'rango/base.html' %}
{% load staticfiles %} 

{% block body_block %}
    <div class="jumbotron">
            <h1 class="display-3">Rango says...</h1>
                    {% if user.is_authenticated %}
                    <h2> howdy {{user.username}} </h2>
                    {% else %}
                    <h2> hey there partner ! </h2>
                    {% endif %}
    </div>
                <div class="row marketing">
                    <div class="col-lg-6">
                    <h4> Most Liked Categories </h4>
                    {% if categories %}
                    <ul>
                        {% for category in categories %}
                            <li>
                                <a href="{% url 'show_category' category.slug %}">{{category.name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <strong> There are no categories present </strong>
                    {% endif %}
                    </div>
                    <div class="col-lg-6">
                    <h4> Most Viewed Pages </h4>
                    {% if pages %}
                    <ul>
                        {% for page in pages %}
                            <li>
                                <a href="{{page.url}}">{{page.title}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <strong> There are no pages present </strong>
                    {% endif %}
                    </div>
                </div>
                <p> visits: {{visits}}</p>
                <div>
                    <img src="{% static "images/rango.jpg" %}"
                         alt="Picture of Rango" />
                </div>
{% endblock %}
