{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load rango_template_tags %}
{% block body_block %}


<!-- Load CSS for QueryBuilder -->
<link href="{% static 'jQuery-QueryBuilder/dist/css/query-builder.default.min.css' %}" rel="stylesheet">

<style>
p {text-align: right;}
.table-bordered>tbody>tr:nth-child(odd)>td{
    background-color:#D3D3D3;
    }
mark {
    background-color: yellow;
        color: black;
    }
</style>

<section class="bs-docs-section clearfix">
  <div class="col-md-12 col-lg-10 col-lg-offset-1">
      
    <h1> Virtual Attending 2.0 </h1>
    <div id="builder-basic"></div>

    <div class="btn-group">
      <button class="btn btn-warning reset" data-target="basic">Reset</button>
        <button class="btn btn-primary submit" data-target="basic"> SUBMIT </button>

  </div>
  </div>
</section>
<div id="query"><h2> </h2></div>
</br>
<div id="result" >

</div>
	
<!-- Load QueryBuilder and .js file to confire it for VA use -->
<script src="{% static 'jQuery-QueryBuilder/dist/js/query-builder.standalone.ext.js' %}"></script>
<script src="{% static 'js/query_build.js' %}"></script>

{% endblock %}
