{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load rango_template_tags %}
{% block body_block %}


<!-- Load CSS for QueryBuilder -->
<link href="{% static 'jQuery-QueryBuilder/dist/css/query-builder.default.min.css' %}" rel="stylesheet">

<style>
p {text-align: right;}
.table-bordered>tbody>tr:nth-child(odd)>td{
    background-color:#D3D3D3;
    }
mark {
    background-color: yellow;
        color: black;
    }
</style>

<section class="bs-docs-section clearfix">
  <div class="col-md-12 col-lg-10 col-lg-offset-1">
      
    <p> Scott Robertson & Alex Baras </p>
    
    <h1> Virtual Attending 2.0 </h1>
    <div id="builder-basic"></div>

    <div class="btn-group">
      <button class="btn btn-warning reset" data-target="basic">Reset</button>
        <button class="btn btn-primary submit" data-target="basic"> SUBMIT </button>

  </div>
  </div>
</section>
<div id="query"><h2> </h2></div>
</br>
<div id="result" >

    <ul>
    <li> Multiword phrases must be matched exactly as they are typed in search box. </li> 
    <li> For example: "epithelioid sarcoma" will NOT match "sarcoma with epithelioid features".</li> </br>

        <li> To match records containing multiple terms that do not necessary appear in the same phrase, use an additional rule (green Add rule button).</li>     
        <li> For example: "melanoma" ADD RULE "Sox10" will match any record with these two terms, regardless of where they appear.</li> </br>
    <li> To delete filters, click red "Delete" button. </li>
    <li> Delete "Attending" filter to search from all attendings. </li>
    <li> Use "Attending (free text)" option for attendings not in drop-down list. </li>
    <li> Up to 500 records will be returned. </li>
    <li> Database contains all JHH AP cases from 4/1/2013 to 3/31/2017. </li>
    </ul>
</div>
	
<!-- Load QueryBuilder and .js file to confire it for VA use -->
<script src="{% static 'jQuery-QueryBuilder/dist/js/query-builder.standalone.ext.js' %}"></script>
<script src="{% static 'js/query_build.js' %}"></script>

{% endblock %}
